[Bb]ackup*/
[Bb]in/
[Dd]ebug*/
[Dd]eploy/
[Oo]bj/
[Rr]elease*/
_UpgradeReport_Files/
UpgradeLog.XML

*.aps
*.bak
*.cache
*.DS_Store
*.exe
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.snk
*.suo
*.svn
*.tlb
*.tlh
*.user
*.userprefs
*.vspscc
*.vspx

# Enforce LF normalization on Windows
*.yaml eol=lf
*.lua eol=lf
* text=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
